* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    
}

.logo-nav {
    float: left;
    padding-left: 80px;

}

.main-nav {
    float: none;
    position: relative;
    left: 200px;

}

.nav-right {
    float: right;
    padding-right: 80px;
    
}

.nav-link {
    padding: 14px 16px;
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    padding: 7px 2px;
    text-decoration: none;
  }

.nav-image {
      height: 15px;
      width: 15px;
  }

.hero-section {
    margin: 0;
    padding: 0;
    height: 700px;
    
}

.queen {
    width: 1345px;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 48% 79%, 0 54%);
}

.call-action {
    font-size: 25px;
    position: relative;
    bottom: 600px;
    padding-left: 150px;
    color: white;
}

.arrow {
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

.book-online-box {
    border-style: solid;
    border-color: red;
    background-color: black;
    color: white;
    width: 230px;
    height: 250px;
    position: absolute;
    top: 400px;
    margin: 0 0 0 150px;
}

.row-1 {
    display: block;
    border-style: solid;
    border-color: red;
    padding: 70px;
    text-align: center;
}

.col-1, .col-2, .col-3 {
    display: inline-block;
    text-align: center;
    padding: 50px;
    margin: 30px;
}

.more-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #b49e91;
    border-style: solid;
    border-color: green;
    padding: 70px;
}

.more-info-content {
    margin: 40px;
    padding: 40px;
    width: 400px;
    
}

.more-info-content h2 {
    font-size: 50px;
}

.more-info-content h2, p {
    padding-bottom: 15px;
}


.content-image {
    padding: 10px;
    border-style: double;
    border-width: 10px;
    border-radius: 8px;
    border-color: black;
    margin: 40px;
    width: 400px;
    height: 284px;
    object-fit: cover;
}



.meet-the-team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-style: solid;
    border-color: purple;
    padding: 70px;
    text-align: center;
}


.member1, .member2, .member3 {
    text-align: center;
    margin: 30px;
}

.member1 img, .member2 img, .member3 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
}